# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[devenv]
        sudo apt-get update
        sudo apt-get install libreoffice
    - name: Check style with black
      run: |
        # stop the build if there are Python syntax errors or undefined names
        black . --check
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        PYTHONPATH=/ pytest --cov=unoserver
        coverage xml
    - name: Upload coverage
      run: |
        bash <(curl -Ls https://coverage.codacy.com/get.sh) report -t 6ebaf74314ff4ccd8e87d1f988a4aa2f -r coverage.xml
