# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
    - uses: actions/checkout@v3
    - name: Install Package
      run: |
        python -m pip install virtualenv
        make devenv
    - name: Check styles
      run: |
        make check
    - name: Install Libreoffice
      run: |
        sudo apt-get update
        sudo apt-get install libreoffice
    - name: Test with pytest
      run: |
        source ve/bin/activate
        make test
